@using SunsetShades.Context.ViewModel
@model CartViewModel

<style>
    .cart-container {
        margin: auto;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #ffc107;
        color: #000;
    }

    td img {
        max-width: 100px;
    }

    .quantity-controls {
        display: flex;
        align-items: center;
    }

        .quantity-controls button {
            background-color: #ffc107;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin: 0 5px;
        }

    .remove-button {
        background-color: red;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }
</style>

<h2>Welcome to your cart.</h2>
<hr />

@if (Model.Products?.Count > 0)
{
    <div class="cart-container">
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Product Brand</th>
                    <th>Quantity</th>
                    <th>Price Per Unit</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>
                            <img src="@item.Image" alt="@item.ProductName">
                        </td>
                        <td>@item.BrandName</td>
                        <td>
                            <div class="quantity-controls">
                                <button onclick="MinusQty(@item.CartId)">-</button> <span>@item.Quantity</span> <button onclick="PlusQty(@item.CartId)">+</button>
                            </div>
                        </td>
                        <td>@item.Price</td>
                        <td><button class="remove-button" onclick="RemoveCartItem(@item.CartId)">Remove</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a asp-area="" asp-controller="Cart" asp-action="Checkout" style="font-size: large;">
        <button class="btn btn-warning w-100 mb-3">Checkout <b>@Model.Total</b></button>
    </a>
}
else
{
    <p>Your cart is empty</p>
    <a asp-area="" asp-controller="Product" asp-action="Index" style="font-size: large;">
        <button class="btn btn-warning w-100 mb-3">Continue Shoping</button>
    </a>
}

<div id="msgPopup"></div>

<script>
    function showPopup(message, type) {
        const popup = $('#msgPopup');
        popup.removeClass('success error').addClass(type);
        popup.text(message).fadeIn();

        // Hide after 5 seconds
        setTimeout(() => {
            popup.fadeOut();
        }, 5000);
    }

    function RemoveCartItem(cartId) {
        $.ajax({
            url: "../Cart/Remove?cartId=" + cartId,
            type: "POST",
            success: function (data) {
                showPopup("Cart updated successfully", "success")
                setTimeout(() => {
                    window.location.reload();
                }, 1000);
                
            },
            error: function (data) {
            }
        });
    }

    function MinusQty(cartId) {
        $.ajax({
            url: "../Cart/UpdateCart?cartId=" + cartId + "&isMinus=true",
            type: "POST",
            success: function (data) {
                showPopup("Cart updated successfully", "success")
                setTimeout(() => {
                    window.location.reload();
                }, 1000);
            },
            error: function (data) {
            }
        });
    }

    function PlusQty(cartId) {
        $.ajax({
            url: "../Cart/UpdateCart?cartId=" + cartId + "&isMinus=false",
            type: "POST",
            success: function (data) {
                showPopup("Cart updated successfully", "success")
                setTimeout(() => {
                    window.location.reload();
                }, 1000);
            },
            error: function (data) {
            }
        });
    }
</script>